<article class="c-card u-mx2 u-mb4">
  <header class="u-center u-p3 o-flex o-flex--center--h">
    <img class="o-icon o-icon--xs u-mr2" src="https://cdn.css-tricks.com/wp-content/uploads/2014/03/css-tricks-star.png" alt="CSS-Tricks Logo" />
    <h1 class="small u-system u-ltgray">CSS-Tricks</h1>
  </header>
  <figure class="c-card__figure o-intrinsic o-intrinsic--16x9">
    <img src="images/325H.jpg" class="o-intrinsic__item u-fit--cover u-bl" alt="{{ post.title }}">
  </figure>
  <div class="c-card__content u-p3">
    <h2 class="h6">
      <a href="{{ post.guid }}">{{ post.title }}</a>
    </h2>
    <small class="u-caps u-ltgray">{{ post.author }} &mdash; <time>{{ post.pubDate }}</time></small>
  </div>
</article>
